<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!-- MatchEAT 각 페이지에서 공통으로 사용하는 상단 헤더 Fragment -->
<header th:fragment="header" class="site-header" data-auth-header>

    <h1>
        <a th:href="@{/}">MatchEAT</a>
    </h1>

    <nav>
        <a th:href="@{/}">홈</a>
        <a th:href="@{/product}">상품</a>
        <a th:href="@{/requests}">주문</a>

        <a th:href="@{/admin}"
           data-admin-link
           hidden>
            관리자
        </a>

        <a th:href="@{/mypage}"
           data-member-link
           hidden>
            마이페이지
        </a>

        <button type="button"
                class="header-link"
                data-logout-button
                hidden>
            로그아웃
        </button>

        <a th:href="@{/login}"
           data-guest-link>
            로그인
        </a>

        <a th:href="@{/signup}"
           data-guest-link>
            회원가입
        </a>
    </nav>

    <script type="module" th:src="@{/account/js/auth-header.js}"></script>

</header>

</body>
</html>
